/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.conteiner{
  width: 70%;
  /* max-width: 1150px; */
  margin: auto;
}
.clearfix::after{
  display: table;
  content: '';
  clear: both;
}
html{
  scroll-behavior: smooth;
}
li a{
  text-decoration: none;
  color: black;
}

/* UTILS */

.btn{
  text-decoration: none;
  padding: 7px 15px;
  }
.btn-blue{
  color: white;
  background-color: rgb(24, 64, 243);
}
.btn-white{
  color: black;
  background-color: white;
  border: 1px solid black;
}
.btn-blue:hover{
  color: white;
  background-color: rgb(82, 104, 204);
}
.btn-white:hover{
  color: black;
  background-color: rgb(216, 217, 226);
  border: none;
}
.bold{
  font-weight: bold;
}
.title-area{
  font-size: 40px;
}
.subtitle-section{
  font-size: 30px;
}
.cost::after{
  content: ' \20AC';
  font-weight: bold;
}
.cost{
  font-weight: bold;
}
.grey-small-text{
  font-size: 13px;
  color: grey;
}
.underline{
  text-decoration: underline;
}

/* HEADER */
header{
  position: fixed;
  height: 100px;
  width: 100%;
  line-height: 100px;
  z-index: 500;
  min-width: 1127px;
  background-color: white;
}
.logo{
  float: left;
  margin: 0 20px;
}
.menu-left{
  float: left;
}
.menu-right{
  float: right;
  margin-right: 20px;
}
.btn-header{
  float: right;
  margin-right: 20px;
}
.logo img{
  vertical-align: middle;
}
.menu-home ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.menu-home ul li a{
  text-decoration: none;
  font-size: 16px;
  color: black;
  height: 100px;
  display: inline-block;
}
.menu-home ul li:hover{
  border-bottom: 4px solid black;
}

/* JUMBOTRON */

.jumbotron{
  max-height: 1150px;
  background-color: rgb(183, 202, 224);
  background-size: cover;
  padding-top: 180px;
}
.conteiner-jumbotron{
  width: 85%;
  margin: auto;
}
.jumbtron-bottom{
  margin-top: 45px;
}
.area-text-jumbotron{
  float: left;
  width: 30%;
}
.area-text-jumbotron p{
  margin-bottom: 40px;
  padding-right: 30px;
}
.img-jumbotron{
  float: left;
  width: 70%;
}
.img-jumbotron img{
  width: 100%;
}
.conteiner-jumbotron h1{
  font-size: 75px;
}
.btn-jumbotron{
  margin-bottom: 20px;
}
.area-text-jumbotron p{
  margin-bottom: 40px;
}
.fa-solid{
  font-size: 50px;
}
.ancora-jumbotron a{
  text-decoration: none;
  color: black;
}
{}
{}
{}

/* MAIN */

.product-presentation::before{
  content: '';
  display: block;
  height: 70px;
  margin: -60px 0 0;
  z-index: 300;
  background-color: white;
}
{}
{}

/* Area di presentazione del prodotto */

.purchase-plan{
  padding-top: 100px;
  padding-bottom: 50px;
}
.product-presentation .purchase-plan h2{
  margin-bottom: 35px;
}
.mensile, .annuale{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 25px;
}
.cln-left{
  float: left;
  width: 30%;
  min-height: 1050px;
}
.cln-center{
  float: left;
  width: 30%;
  margin: 0 5%;
  min-height: 200px;
  min-height: 1050px;
}
.cln-right{
  float: left;
  width: 30%;
  min-height: 200px;
  min-height: 1050px;
}
.heading-table{
  text-align: center;
  padding: 10px 0;
  border: 1px solid lightgrey;

}
.cln-left, .cln-center, .cln-right, .cln-bottom .heading-table, .purchase-plan-bottom{
  border: 1px solid lightgrey;
}
.main-table-purchase-plan .cost{
  margin: 10px 0;
}
.main-table-purchase-plan .grey-small-text{
  margin-bottom: 50px;
}
li svg{
  height: 15px;
}
.btn-main-table-purchase-plan{
  text-align: center;
  margin: 50px 0 25px;
}
.main-table-purchase-plan .description{
  margin: 20px 0;
  list-style: none;
}
.main-table-purchase-plan h3, .purchase-plan-bottom h3 {
  font-size: 30px;
  font-weight: 900;
}
.main-table-purchase-plan{
  padding: 30px 30px;
}
span.description{
  border-bottom: 1px solid lightgrey;
  height: 50px;
  display: inline-block;
}
.plan-description h4{
  font-size: 18px;
  font-weight: 900;
  margin: 15px 0;
}
.plan-description ul li{
  list-style: none;
  display: inline-block;
  margin: 10px 0px;
}
.plan-description ul li i{
  font-weight: bold;
  color: rgb(24, 64, 243);
}
.cln-bottom{
  margin: 30px 0;
}
.purchase-plan-bottom{
  position: relative;
}
.purchase-plan-bottom h3{
  padding: 30px 20px 10px;
}
.purchase-plan-bottom p{
  margin: 0px 20px 30px;
}
.btn-purchase-plan-bottom{
  position: absolute;
  top: 70px;
  right: 20px;;
}



/* <!-- Sezione ricerca partner --> */
.partner{
  margin: 70px auto 110px;
}
.img-partner-conteiner, .text-partner-conteiner{
  float: left;
  width: 50%;
}
.text-partner-conteiner{
  padding: 40px;
}
.img-partner-conteiner img{
  width: 100%;
}
.text-partner-conteiner p{
  margin: 30px 0 35px;
}
.text-partner-conteiner h3{
  font-size: 30px;
}

/* <!-- ----Descrizione vantaggi della formula Dropbox Business----- --> */
.business-dropbox-description{
  padding-top: 30px;
  padding-bottom: 80px;
}
.row-1, .row-2{
  margin: 100px 0 120px;
}
.benefits-left{
  float: left;
  width: 30%;
}
.benefits-center{
  float: left;
  width: 30%;
  margin: 0 5%;
}
.benefits-right{
  float: left;
  width: 30%;
}
.img-benefits img{
  width: 100%;
}
.subtitle-section-business{
  margin: 10px 0 25px;
  font-size: 30px;
}

/* <!-- Clienti fidelizzati --> */
.loyal-customers p{
  display: inline-block;
  height: 120px;
  line-height: 120px;
  color: blue;
}

/* <!-- ******clienti sponsor****** --> */
.sponsor-customers{
  width: 100%;
  background-color: rgba(245, 245, 245);
}
.macro-area-left{
  height: calc(100vw / 3 - 50px);
  width: calc(100vw / 3 - 50px);
  background-color: brown;
  float: left;
}
.macro-area-center{
  padding: 50px;
  display: inline-block;
  background-color: rgba(245, 245, 245);
  height: calc(100vw / 3 - 50px);
  max-width: calc(100% / 3 + 70px);
  margin: auto;
  overflow: auto;
}
.macro-area-right{
  height: calc(100vw / 3 - 50px);
  width: calc(100vw / 3 - 50px);
  background-color: brown;
  float: right;
}
.micro-area-left-customers{
  height: calc(100vw / 3);
  width: calc(100vw / 3);
}
.area-logo-sponsor{
  float: left;
  height: calc(100vw / 6 - 25px);
  width: calc(100vw / 6 - 25px);
}
.area-logo-sponsor a{
  height: calc(100vw / 6 - 25px);
  width: calc(100vw / 6 - 25px);
  line-height: calc(100vw / 6 - 25px);
  text-align: center;
  display: inline-block;
}
.area-logo-sponsor a svg, .area-logo-sponsor a img{
  width:  calc(100vw / 6 - 100px);;
  vertical-align: middle;
}

.customers-one{
  background-color: rgba(162, 211, 155);
}
.customers-two{
  background-color: rgba(97, 8, 44);
}
.customers-three{
  background-color: rgb(30, 139, 228);
}
.customers-four{
  background-color: rgba(249, 28, 29);
}
.customers-five{
  background-color: rgba(213, 2, 31);
}
.customers-six{
  background-color: rgba(180, 208, 231);
}
.customers-seven{
  background-color: rgba(13, 36, 129);
}
.customers-eight{
  background-color: rgba(254, 216, 48);
}
.customers-one:hover{
  border: 10px solid rgb(196, 212, 194);
}
.customers-two:hover{
  border: 10px solid rgb(155, 102, 123);
}
.customers-three:hover{
  border: 10px solid rgb(192, 211, 221);
}
.customers-four:hover{
  border: 10px solid rgb(248, 124, 124);
}
.customers-five:hover{
  border: 10px solid rgb(219, 95, 111);
}
.customers-six:hover{
  border: 10px solid rgb(230, 231, 231);
}
.customers-seven:hover{
  border: 10px solid rgb(74, 87, 136);
}
.customers-eight:hover{
  border: 10px solid rgb(252, 233, 152);
}
.area-logo-sponsor a svg{
  fill: white;
  color: white;
}
.macro-area-center img{
  width: 35%;
  display: block;
}
.macro-area-center span{
  width: 50px;
  height: 40px;
  display: inline-block;
  border-bottom: 2px solid lightgrey;
}
.macro-area-center p{
  margin: 30px 0;
}


/* <!-- ******ricerca nuovi sponsor******* --> */
.new-customers{
  background-color: rgba(180, 208, 231);
  width: 100%;
  margin-top: -5px;
}
.text-new-customers{
  padding: 100px 0;
  color: rgb(71, 5, 31);
}
.text-new-customers h1{
  display: inline-block;
  float: left;
}
.btn-section-new-customers{
  float: right;
}
.btn-section-new-customers a{
  background-color: white;
  text-decoration: none;
  color: black;
}
.btn-section-new-customers a:hover{
  background-color: rgb(212, 212, 212);
}



/* <!-- ******Faq - Domande frequenti******* --> */
.faq-home{
  padding: 100px 0;
}
.text-faq-home h1{
  padding-bottom: 50px;
  border-bottom: 1px solid lightgrey;
}
{}
{}
{}
{}

/* <!-- ******Footer******* --> */
footer{
  background-color: black;
  color: white;
}
.footer-top{
  padding: 100px 0 80px;
}
.footer-top div ul li{
  list-style: none;
  padding-bottom: 10px;
}
.footer-top div ul li a{
  color: white;
}
.footer-top div ul li:first-child{
  font-weight: 900;
  padding-bottom: 25px;
  font-size: 25px;
}
.cln-footer-1, .cln-footer-2, .cln-footer-3, .cln-footer-4, .cln-footer-5{
  float: left;
  width: calc(100% / 5);
}

.footer-bottom{
  line-height: 100px;
  padding-bottom: 10px;
}
.lenguage{
  display: inline-block;
  height: 100px;
  width: 120px;
  border-top: 1px solid lightgrey;
  line-height: 100xpx;
}

.lenguage p, .lenguage i{
  display: inline-block;
  font-size: 12px;
  color: grey;
}
#sort-up{
  position: relative;
  top: 3px;
}

{}
{}
{}
{}
{}
{}
{}
{}
{}
/* ***Ho provato ad impostare la centratura del .menu-home utilizzando la strada del position ABSOLUTE***

.menu-home{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

Con queste proprietà funziona, ma dovrei ricordarmi di dare position relative all'header e di non mettere top 50% perchè è già centrato grazie al line-height e il transform -50% sull'asse y per lo stesso motivo (altrimenti mi esce dalla pagina in alto)

header{
  position: relative;
} */

/* JUMBOTRON */
/* .jumbotron{
  height: 550px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  color: white;
}
.conteiner.area-text-jumbotron{
  max-width: 800px;
  text-align: center;
  padding-top: 90px;
}
.title-jumbotron{
  font-size: 58px;
  padding: 34px 0;
}
.text-jumbotron{
  font-size: 22px;
  padding: 34px 0;
  line-height: 35px;
}
.btn-jumbotron a:first-child{
  margin-right: 30px;
}
.btn.btn-black{
  color: white;
  background-color: black;} */

/* MAIN */

/* main-top */
/* .horizontal-section{
  padding-bottom: 30px;
}
.section-white{
  margin: auto;
  background-color: white;
}
.section-grey{
  margin: auto;
  background-color: rgb(238, 238, 230);
}
.row-white .img-horizontal-section{
  float: left;
}
.row-white .text-horizontal-section{
  float: right;
}
.row-grey .img-horizontal-section{
  float: right;
}
.row-grey .text-horizontal-section{
  float: left;
}
.img-horizontal-section{
  width: 50%;
}
.text-horizontal-section{
  width: 30%;
  padding-top: 40px;
}
.text-horizontal-section h2{
  font-size: 47px;
  margin-bottom: 30px;
  font-weight: bold;
}
.text-horizontal-section p{
  font-size: 22px;
  line-height: 35px;
}

/* main-bottom */
/* .vertical-sections{
  padding: 30px 0;
  text-align: center;
}
.vertical-section-one h2{
  font-size: 47px;
  margin-bottom: 30px;
  font-weight: bold;
  padding: 0 60px;
}
.vertical-section-one p{
  font-size: 22px;
  line-height: 35px;
  padding: 0 60px;
}
.img-vertical-section img{
  width: 100%;
}
.vertical-section-two{
  position: relative;
}
.vertical-section-two h2{
  display: inline-block;
  font-size: 26px;
}
.vertical-section-two img{
  position: absolute;
  top: -27%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vertical-section-two .bnt.bnt-footer{
  background-color: rgb(133, 42, 253);
}
.btn.btn-blue{
  color: white;
  background-color: rgb(136, 147, 251);
}
.btn-main-bottom{
  margin-top: 30px;
} */ */
/* FOOTER */

/* footer{
  background-color: rgb(36, 36, 41);
  padding-top: 100px;
  color: white;
}
.footer-top{
  margin-bottom: 30px;
}
.footer-bottom{
  line-height: 95px;
  border-top: 2px solid rgb(136, 147, 251);
  color: white;
  padding-bottom: 50px;
  vertical-align: middle;
}
.contact-social-area{
  width: 35%;
  float: left;
  padding-right: 100px;
}
.navigation-area-footer{
  width: 65%;
  float: left;
}
.navigation-area-footer .cln{
  width: calc(100% / 4);
  float: left;
}
h3{
  color: rgb(136, 147, 251);
  font-size: 32px;
  margin-bottom: 35px;
}
.selection-lenguage{
  width: 100%;
}
.selection-lenguage img, .selection-lenguage p, .selection-lenguage{
  float: left;
  margin-right: 7px;
}
.selection-lenguage img{
  width: 10%;
  min-width: 30px;
}
.selection-lenguage p{
  font-size: 15px;
}
.fa-solid{
  font-size: 15px;
}
.social-icons-footer{
  width: 100%;
  display: inline-block;
  margin-top: 20px;;
}
.twitter-logo, .instagram-logo, .facebook-logo, .youtube-logo {
  display: inline-block;
  width: 7%;
  min-width: 27px;
  vertical-align:middle;
  margin-right: 30px;
}
.cln ul li a.title-menu-footer{
  color: rgb(136, 147, 251);
  font-weight: bold;
}
.cln ul li a{
line-height: 35px;
}
.footer-bottom-blue{
  float: right;
}
#freccia-in-giù{
  color: white;
  text-decoration: none;
}
.social-icons-footer a{
  color: white;
  text-decoration: none;
}
#specialissima{
  background-color: #3161E0;
} */